.my-profile-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 28px;
}

.floating-button-container {
  position: absolute;
  bottom: 75px;
  right: 70px;
  cursor: pointer;
}

.save-button-wrapper {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 375px) {
  .floating-button-container {
    position: absolute;
    bottom: 75px;
    right: 70px;
    cursor: pointer;
  }
}

@media screen and (max-width: 720px) {
  .floating-button-container {
    position: absolute;
    bottom: 75px;
    right: 70px;
    cursor: pointer;
  }
}
