.my-profile-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 28px;
}

.save-button-wrapper {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%);
}
