.button-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  .text-area {
    font-size: 16px;
    font-weight: 500;
  }
}