.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  .profile-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    .profile-image-wrapper {
      position: relative;
      .profile-image {
        width: 120px;
        height: 120px;
      }
      img {
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
