.link-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.link-content {
  padding: 16px;
  display: flex;
  gap: 24px;
  align-items: center;

  span {
    display: inline-block;
    max-width: 270px;
  }
}
