.content {
  padding: 12px 8px;
  display: flex;
  height: 100%;
  cursor: pointer;
}
.content-textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  resize: none;
}

.content-textarea:focus {
  background-color: #f3f3f3;
}
