.profile-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  .name-wrapper {
    display: flex;
    gap: 10px;
  }

  .company-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .divider {
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
    }
  }

  .location-wrapper {
    position: relative;
    padding: 4px 8px;
    .icon-wrapper {
      position: absolute;
    }
  }
}
