.glimpse-compact-wrapper {
  display: flex;
  padding: 16px 20px;
  gap: 10px;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: flex-start;

  .right-wrapper {
    display: flex;
    justify-content: end;
  }

  .left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .profile-wrapper {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .profile-info-wrapper {
        .profile-name {
          max-width: 157px;
          font-size: 12px;
          font-weight: 400;
          padding-bottom: 5px;
        }

        .position-wrapper {
          display: flex;
          gap: 10px;
        }
      }
    }

    .link-wrapper {
      display: flex;
      gap: 10px;
    }
  }
}
