.search-wrapper {
  position: relative;
  width: 60%;

  input {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    padding: 10px 12px;
    font-size: 14px;
    text-indent: 18px;
  }

  img {
    position: absolute;
    width: 17px;
    top: 10px;
    left: 12px;
    margin: 0;
  }
}