.signup-wrapper {
  .card-wrapper {
    display: grid;
    grid-template-rows: 32px 16px 40px 16px;
    gap: 16px;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;

    .card-title {
      font-size: 24px;
    }

    .card-sub-title {
      font-size: 12px;
    }

    .digit-area {
      display: grid;
      grid-template-columns: repeat(6, 40px);
      gap: 10px;

      .input-box {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        text-align: center;
      }
    }

    .invalid-check {
      text-align: start;
      font-size: 12px;
      color: #ff0000;
      visibility: hidden;

      &.show {
        visibility: visible;
      }
    }

    .card-bottom {
      display: flex;
      justify-content: space-between;

      * {
        cursor: pointer;
      }
    }
  }
}