.my-profile-wrapper {
  width: 100%;
  padding-bottom: 40px;

  .card-wrapper {
    position: relative;

    ::before {
      content: '';
      position: absolute;
      height: 64px;
      width: 48px;
      background-color: #A9A9A9;
      top: -64px;
      left: calc(50% - 24px);
    }

    .card {
      position: relative;
      margin: 60px auto 0;
      max-width: 280px;
      height: 376px;
      border-radius: 20px;
      border: 1px solid #d9d9de;
      background: linear-gradient(to bottom right, #00000028 0%, #625FFBC2 76%);
      padding-left: 40px;
      padding-top: 170px;

      ::before {
        content: '';
        position: absolute;
        height: 16px;
        width: 58px;
        background-color: #A9A9A9;
        top: 7px;
        left: calc(50% - 29px);
        z-index: 1;
      }

      ::after {
        content: '';
        position: absolute;
        height: 18px;
        width: 64px;
        background-color: #fff;
        top: 18px;
        left: calc(50% - 32px);
      }

      .name-wrapper {
        height: 88px;

        .name-text {
          color: #fff;
          font-size: 36px;
          font-weight: 600;
        }

      }

      .role-text {
        margin-top: 10px;
        color: #fff;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }

  .tab-wrapper {
    width: 268px;
    height: 28px;
    margin: 36px auto 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tab-item {
      font-weight: 500;
      font-size: 16px;
      color: #969696;
      cursor: pointer;

      &.active-tab {
        color: #000;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background: #000;
          bottom: -8px;
          left: 0;
        }
      }
    }
  }

  .section-title {
    padding-left: 8px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 12px;
    font-weight: 600;
  }

  .gray-box {
    position: relative;
    background: #EFEFF3;
    border-radius: 12px;
    overflow: hidden;

    .arrow-button {
      position: absolute;
      width: 54px;
      height: 40px;
      background-color: #fff;
      border-end-start-radius: 24px;
      top: 0;
      right: 0;
      padding-left: 8px;
    }
  }

  .about-me-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .link-box {
    padding: 16px;
    display: flex;
    gap: 24px;
    align-items: center;
    height: 64px;
    font-size: 12px;
    font-weight: 400;

    &+.link-box {
      margin-top: 12px;
    }
  }

  .work-box {
    padding: 12px;

    .work-text {
      font-size: 14px;
      font-weight: 500;
    }

    hr {
      height: 1px;
      width: 80%;
      background-color: #000;
      margin-top: 14px;
    }

    .link-item {
      display: flex;
      gap: 12px;
      align-items: center;
      height: 64px;

      .text-area {
        font-size: 12px;
        line-height: 16px;

        .title-text {
          color: #000;
        }

        .sub-text {
          color: #969696;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      &+.link-item {
        border-top: 1px solid #dddddd;
      }
    }
  }

  .project-box {
    padding: 12px;

    .work-text {
      font-size: 14px;
      font-weight: 500;
    }

    hr {
      height: 1px;
      width: 80%;
      background-color: #000;
      margin-top: 14px;
    }

    .project-item {
      height: 128px;
      padding: 12px 4px;

      .project-title {
        font-size: 12px;
        font-weight: 500;
      }

      .circle-wrapper {
        display: flex;

        .round-circle {
          width: 20px;
          height: 20px;
          border-radius: 100px;
          margin: 6px -8px 6px 0;

          &:nth-child(odd) {
            background: #828282;
          }

          &:nth-child(even) {
            background: #C4C4C4;
          }
        }
      }

      .picture-wrapper {
        display: flex;
        gap: 12px;
      }

      &+.project-item {
        border-top: 1px solid #dddddd;
      }
    }

  }
}