.event-create-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 568px;
  height: 100%;
  overflow: auto;

  .preview-area {
    background: blanchedalmond;
    width: 100%;
    height: 100%;
  }

  .create-area {
    display: grid;
    grid-template-rows: 54px minmax(0, 1fr) 84px;
    grid-template-columns: minmax(0, 1fr);
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;

    .header-area {
      display: grid;
      grid-template-rows: 30px 16px;
      gap: 8px;
      margin: 0 40px;

      .title-text {
        font-size: 24px;
        font-weight: 600;
      }

      .sub-title-text {
        font-size: 14px;
        font-weight: 500;
        color: #8B8B8B;
      }
    }

    .body-area {
      display: grid;
      grid-template-rows: 82px 60px 60px 154px;
      gap: 32px;
      margin: 0 40px 40px;

      .event-type-radio {
        width: 360px;
      }

      .event-visibility-radio {
        width: 218px;
      }
    }

    .footer-area {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(0, 1fr);
      justify-content: space-between;
      gap: 8px;
      padding: 16px;

      .button-area {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        border-radius: 4px;
        width: 264px;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
          .text-area {
            font-size: 18px;
          }
        }

        &.save-button {
          border: 1px solid #C1C1C1;
        }

        &.publish-button {
          background: #7E51FD;
          color: #fff;
        }

        .text-area {
          text-align: center;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .event-create-wrapper {
    display: grid;
    grid-template-columns: 0 minmax(0, 1fr)
  }
}