.control-section-wrapper {
  background-color: #fff;
  padding: 12px 16px 0;

  .rsvp-button {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background-color: #7e51fd;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 12px;
    cursor: pointer;

    &:hover {
      border: 1px solid #7e51fd;
      color: #7e51fd;
      background-color: #fff;
    }
  }

  .search-area {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 10px;

    .list-title {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;

      span {
        color: #7e51fd;
      }
    }

    .list-setting {
      display: flex;
      justify-content: space-between;
    }
  }

  .divider {
    height: 2px;
    width: 100%;
    background-color: #f3f3f3;
  }
}

@media only screen and (max-width: 768px) {
  .body-content-area {
    .button-wrapper {
      .share-wrapper {
        display: none;
      }
    }

    .search-area {
      .list-setting {
        .grid-icon-wrapper {
          .list-view {
            display: block;
          }

          .desktop-grid-btn {
            display: none;
          }

          .mobile-grid-btn {
            display: block;
          }
        }
      }
    }
  }
}

.user-list-wrapper {
  background-color: #fff;
  padding: 0 16px;

  .view-area {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px 0px;

    &.grid-view {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .user-list-wrapper {
    .view-area {
      grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));
    }
  }
}
