.signin-wrapper {
  .card-wrapper {
    display: grid;
    grid-template-rows: 32px 16px 336px;
    gap: 16px;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;

    .card-title {
      font-size: 24px;
    }

    .card-sub-title {
      font-size: 12px;
    }

    .card-body {
      display: grid;
      grid-template-rows: 44px 16px 44px 44px 44px 44px;
      gap: 16px;

      .email-input {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        font-size: 16px;
        padding: 0 20px;
        color: #000;

        &::placeholder {
          color: #d9d9d9;
        }

        &.invalid-mail {
          border: 2px solid #ff0000;

          &:focus {
            outline: none;
          }
        }
      }

      .invalid-text {
        display: flex;
        align-items: center;
        visibility: hidden;

        .text-area {
          text-align: start;
          font-size: 12px;
          color: #ff0000;
        }

        &.show {
          visibility: visible;
        }
      }

      .text-area {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}