.card-wrapper {
  cursor: pointer;
  border-radius: 15px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.grid-view-wrapper {
  display: grid;
  max-width: calc(100% - 32px);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 190px;

  .glimpse-grid-wrapper {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    height: 190px;

    .card-header {
      display: flex;
      justify-content: end;

      .icon-wrapper {
        padding: 8px;
        width: 40px;
        height: 40px;

        &.comment-icon {
          border-radius: 50%;
          box-shadow:
            2px 2px 5px 1px rgba(0, 0, 0, 0.05),
            -2px -2px 5px 1px rgba(0, 0, 0, 0.05),
            2px -2px 5px 1px rgba(0, 0, 0, 0.05),
            -2px 2px 5px 1px rgba(0, 0, 0, 0.05);
        }
      }
    }

    .profile-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .profile-name {
        max-width: 98px;
        font-size: 12px;
        font-weight: 400;
      }
    }

    .position-wrapper {
      display: flex;
      gap: 8px;
    }

    .link-wrapper {
      display: flex;
      gap: 10px;
    }
  }
}