.signup-wrapper {
  display: grid;
  grid-template-rows: 56px 415px 40px;
  gap: 24px;
  justify-content: center;

  .signin-header {
    display: grid;
    align-items: center;
    justify-content: center;

    .logo-area {
      display: grid;
      align-items: center;
      width: 113px;
      height: 56px;
      background-color: #7E51FD;
      border-radius: 30px;

      .text-area {
        text-align: center;
        font-size: 12px;
        color: #fff;
      }
    }
  }

  .card-wrapper {
    display: grid;
    grid-template-rows: 32px 16px 40px;
    gap: 16px;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;

    .card-title {
      font-size: 24px;
    }

    .card-sub-title {
      font-size: 12px;
    }

    .digit-area {
      display: grid;
      grid-template-columns: repeat(6, 40px);
      gap: 10px;

      .input-box {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        text-align: center;
      }
    }
  }

  .bottom-area {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
}