.header-wrapper {
  width: 375px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: #fff;
  position: relative;

  .text-area {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
  }

  .stretched-wrapper {
    width: 100vw;
    position: fixed;
    margin: auto;
    height: 100%;
    top: 60px;
    left: 0;
    background-color: red;
    z-index: 1;
  }
}
