.card-section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .content-wrapper {
    display: flex;
    gap: 22px;
  }
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.content {
  padding: 24px 20px;
  cursor: pointer;
  display: flex;
  height: 100%;

  textarea {
    width: 100%;
  }

  textarea::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.link-content {
  padding: 16px;
  display: flex;
  gap: 24px;
  height: 100%;

  div {
    background-color: gray;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  input {
    width: 100%;
  }
  input::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
