.signup-wrapper {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 45px 50px;
  gap: 50px;
  padding: 124px 70px 48px;

  .title-area {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }

  .content-area {
    display: grid;
    grid-template-rows: 20px 40px;
    gap: 10px;

    .content-text {
      font-size: 12px;
      font-weight: 600;
    }

    .content-input {
      border: 0;
      border-bottom: 2px solid #000;
    }
  }

  .button-area {
    display: flex;
    background-color: #000;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 18px;

    &:hover {
      font-size: 20px;
    }

    .text-area {
      color: #fff;
      font-weight: 600;
    }
  }

  .footer-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;

    .left-area {
      cursor: pointer;
      
      &:hover {
        font-size: 18px;
      }
    }

    .right-area {
      cursor: pointer;
      font-weight: 600;

      &:hover {
        font-size: 18px;
      }
    }
  }
}