.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.content-wrapper {
  display: flex;
  gap: 22px;
}

.link-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.link-content {
  padding: 16px;
  display: flex;
  gap: 24px;
  align-items: center;

  span {
    display: inline-block;
    max-width: 270px;
  }
}
