.header-content-area {
  background-color: #fff;
  margin-bottom: 10px;
  border-bottom: 10px solid #f3f3f3;

  .event-info-area {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .event-page-link-wrapper {
      .page-link {
        padding: 6px 10px;
        border-radius: 4px;
        background-color: #f3f3f3;
      }
    }

    .event-info-top-wrapper {
      .event-date-wrapper {
        display: flex;
        gap: 8px;
      }
    }

    .tag-wrapper {
      display: flex;
      gap: 10px;

      .tag-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        padding: 0 10px;
        border-radius: 30px;
        background-color: #f3f3f3;
        font-size: 12px;
      }
    }
  }
}
