.glimpse-list-wrapper {
  display: flex;
  padding: 16px 20px;
  gap: 10px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;

  .card-header {
    display: flex;
    justify-content: end;
  }

  .profile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .profile-name {
      max-width: 157px;
      font-size: 22px;
      font-weight: 400;
    }

    .position-wrapper {
      display: flex;
      gap: 10px;
    }
  }
  .hobby-wrapper {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    gap: 10px;
    -ms-overflow-style: none;
  }
  .hobby-ul::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  .link-wrapper {
    display: flex;
    gap: 10px;
  }
}
