.event-container-wrapper {
  position: relative;
  margin: 0 auto;

  .day-event-wrapper {
    border-bottom: 10px solid #f3f3f3;

    &.last-child {
      border-bottom: none;
    }
  }

  .create-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
}
