.filtering {
  padding: 3px 8px;
  border: 1px #dedede solid;
  border-radius: 4px;
}
.selected-filter {
  border: 1px solid #7e51fd;
  background: #fff;
  outline: none;
  color: #7e51fd;
  option {
    color: black;
  }
}

.filtering:not(:last-child) {
  margin-right: 10px;
}
