.rsvp {
    width: 375px;
    margin: auto;
    display: flex;
    justify-content: center;

    .rsvp-container {
        width: 343px;
        display: flex;
        flex-direction: column;

        .rsvp-title {
            height: 106px;
            background: linear-gradient(to right, rgba(128, 202, 255, 0.5), rgba(151, 71, 255, 0.5));
            border-radius: 10px;
            padding: 24px 16px;
            margin-top: 10px;

            h1{
                font-size: 20px;
                font-weight: 500;
            }
        }

        .rsvp-required {
            color: #7E51FD;
            font-size: 12px;
            text-align: right;
            margin-top: 10px;
            margin-bottom: 12px;
        }

        .rsvp-input {
            display: flex;
            flex-direction: column;
        
            label{
                font-size: 16px;
                font-weight: 500;
        
                span{
                    color: #7E51FD;
                }
            }
        
            input {
                color: #171717;
                font-size: 14px;
                border: 1px solid #D9D9D9;
                border-radius: 5px;
                padding: 6px 0;
                padding-left: 12px;
                margin-top: 8px;
                margin-bottom: 32px;
                outline: none;

                &.invalid {
                    border-color: #FF3040;
                }
            }

            
            
            input:focus{
                border-color: #7E51FD;
            }


            input::-ms-input-placeholder{
                color: #C1C1C1;
            }
        }
        
        .rsvp-interest{

            h2 {
                font-weight: 500;
            }

            .rsvp-checkbox-container {
                display: flex;
                flex-direction: column;
                border: 1px solid #D9D9D9;
                border-radius: 8px;
                gap: 20px;
                padding: 24.5px 16px;
                margin-top: 8px;
                font-size: 16px;
    
                .rsvp-checkbox {
                    display: flex;
                    align-items: center;
                    
                    input {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                
                    label {
                        font-size: 16px;
                        line-height: 1;
                    }
                }
            }

            .rsvp-checkbox-container:hover{
                border-color: #7E51FD;
            }
    
            button {
                width: 343px;
                height: 52px;
                color: white;
                background: #7E51FD;
                border-radius: 4px;
                margin-top: 36px;
                margin-bottom: 68px;
            }
        }
        
    }
    
}
    
    
