.rsvp {
    width: 375px;
    height: 1408px;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid gainsboro;
}

.rsvp-container {
    width: 343px;
    display: flex;
    flex-direction: column;

    button {
        height: 52px;
        color: white;
        background: #7E51FD;
        border-radius: 4px;
        margin-top: 36px;
    }
}

.rsvp-required {
    color: #7E51FD;
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 12px;
}
.rsvp-title {
    height: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #80CAFF, #9747FF);
    border-radius: 10px;
    margin-top: 10px;
}

.rsvp-input {
    display: flex;
    flex-direction: column;

    label{
        font-size: 16px;
        font-weight:normal;
        display: flex;

        p{
            color: #7E51FD;
            white-space: pre;
        }
    }

    input {
        color: #D9D9D9;
        font-size: 14px;
        border: 1px solid ;
        border-radius: 5px;
        padding: 6px 0;
        padding-left: 12px;
        margin-top: 8px;
        margin-bottom: 32px;    
    }
}

.rsvp-checkbox-container {
    display: flex;
    flex-direction: column;
    height: 428px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    gap: 20px;
    padding: 24.5px 16px;
    margin-top: 8px;
    font-size: 16px;
}

.rsvp-checkbox {
    display: flex;
    align-items: center;
    
    input {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    label {
        font-size: 16px;
    }
}
